.container{
    position: fixed;
    width: fit-content;
    height: fit-content;
    bottom: 33px;
    z-index: 1000;
    color: antiquewhite;
    background: #1f285c;
    border-radius: 6px;
    right: 10px;
    font-size: 12px;
    padding: 0 5px 0 10px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image{
    padding-left: 4px;
}